{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Labloid - {{ group.groupname }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="profile-header">
        <h1>Group {{ group.groupname }}</h1>

        <p>Founded {{ moment(group.timestamp).format('L') }}. </p>

        <p>{{ group.description }}</p>
    </div>

</div>
<div  class="page-content">
    <h2>Members</h2>
        <table class="table table-hover followers">
        <thead>
        <tr>
            <th>User</th>
            <th>Joined</th>
            <th>Role</th>
            <th>Edit</th>
        </tr>
        </thead>
        {% for membership in group.memberships %}
        <tr>
            <td>
                <a href="{{ url_for('main.user', username = membership.user.username) }}">
                    <img class="img-rounded" src="{{ membership.user.gravatar(size=32) }}">
                    {{ membership.user.username }}
                </a>
            </td>
            <td>{{ moment(membership.timestamp).format('L') }}</td>
            <td>{{ membership.role.name }}</td>
            <td>
                {% if group.is_administrator(me) %}
                <a href="{{ url_for('.edit_membership', user_id=membership.user.id, group_id=group.id) }}">
                    <button type="button" class="btn btn-default ">Edit Membership</button>
                </a>
                {% else %}
                <button type="button" class="btn btn-default disabled">Edit Membership</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    {% if group.is_administrator(me) %}
    <h2>Invite More Members</h2>
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    {% endif %}

</div>
{% endblock %}