{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Labloid - {{ group.groupname }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="profile-header">
        <h1>Group {{ group.groupname }}</h1>
        <p>Founded {{ moment(group.timestamp).format('L') }}. </p>

        <p>{{ group.description }}</p>
    </div>


    <table class="table table-hover followers">
        <thead>
        <tr>
            <th>User</th>
            <th>Joined</th>
            <th>Role</th>
        </tr>
        </thead>
        {% for membership in group.memberships %}
        {% if membership.user != me %}
        <tr>
            <td>
                <a href="{{ url_for('.user', username = membership.user.username) }}">
                    <img class="img-rounded" src="{{ membership.user.gravatar(size=32) }}">
                    {{ membership.user.username }}
                </a>
            </td>
            <td>{{ moment(membership.timestamp).format('L') }}</td>
            <td>{{ membership.role.name }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <!-- TODO: invite more people; delete users; -->
  </div>
{% endblock %}